@{
    ViewBag.Title = "404";
}
<div class="container bg-warning" style="width:100%;height:680px;">
    <div style="margin-left:400px;margin-top:340px;">
        <h3 class="help-block">Page not found,Click <a href="~/Home/Index">here</a> to return to the home page</h3>
    </div>
</div>
